/* Sidebar.css */

.sidebar {
    width: 240px;
    background-color: #2e2e2e;
    color: #fff;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    padding-top: 50px;
}

.sidebar__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar__item {
    padding: 12px 0px 15px 30px;
    cursor: pointer;
    /* background-color: #ffffff2d; */
    /* border-radius: 10px solid red; */
    /* margin-left: 15px; */
    /* border-bottom: 1px solid #555; */
}

.sidebar__item:hover {
    background-color: #ffffff0a;
    /* border-radius: 70px; */
    /* border: 1px solid red; */
    /* width: 50px; */
}